fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pgvector
pydantic
pydantic-settings
langchain
langchain-groq
langchain-huggingface
sentence-transformers
alembic
greenlet
typer

langchain-text-splitters
langchain-core